@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    <require from="aurelia-kendoui-bridge/grid/grid"></require>
    <require from="aurelia-kendoui-bridge/grid/col"></require>
    <require from="aurelia-kendoui-bridge/common/template"></require>

    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

    <div id="users-grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-left">
                <button type="button" click.delegate="userModel.create()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    @T[FrameworkWebLocalizableStrings.General.Create]
                </button>
                <button type="button" click.delegate="viewRoles()" class="btn btn-default">
                    <i class="fa fa-users"></i>
                    @T[FrameworkWebLocalizableStrings.Membership.Roles]
                </button>
            </div>
            <div class="pull-right">
                @Html.Framework().RolesDropDownList(
                    "RoleFilter",
                    null,
                    new Dictionary<string, object>
                    {
                        { "class", "form-control" },
                        { "value.bind", "userModel.filterRoleId" },
                        { "change.delegate", "userModel.filterRole()" }
                    },
                    string.Empty)
            </div>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-md-12 @rtlClass">
            <ak-grid id="users-grid"
                     k-data-source.bind="userModel.datasource"
                     k-widget.bind="userModel.grid"
                     k-filterable.bind="true"
                     k-sortable.bind="{ allowUnsort: false }"
                     k-pageable.bind="{ refresh: true, pageSizes: false }"
                     k-scrollable.bind="false">
                <ak-col k-field="UserName" k-title="@T[FrameworkWebLocalizableStrings.Membership.UserModel.UserName]"></ak-col>
                <ak-col k-field="Email" k-title="@T[FrameworkWebLocalizableStrings.Membership.UserModel.Email]"></ak-col>
                <ak-col k-field="IsLockedOut" k-title="@T[FrameworkWebLocalizableStrings.Membership.UserModel.IsActive]" k-width.bind="70" k-attributes.bind="{ class: 'text-center' }">
                    <ak-template>
                        <i class="fa ${ $this.IsLockedOut ? 'fa-times text-danger' : 'fa-check text-success' }"></i>
                    </ak-template>
                </ak-col>
                <ak-col k-field="Id" k-title="&nbsp;" k-filterable.bind="false" k-width.bind="200" k-attributes.bind="{ class: 'text-center' }">
                    <ak-template>
                        <div class="btn-group">
                            <button type="button" click.delegate="userModel.editRoles($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.Membership.Roles]">
                                <i class="fa fa-users"></i>
                            </button>
                            <button type="button" click.delegate="userModel.changePassword($this.Id,$this.UserName)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.Membership.Password]">
                                <i class="fa fa-lock"></i>
                            </button>
                            <button type="button" click.delegate="userModel.edit($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Edit]">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" click.delegate="userModel.remove($this.Id)" class="btn btn-danger btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Delete]">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </ak-template>
                </ak-col>
            </ak-grid>
        </div>
    </div>

    <div id="users-edit-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="users-edit-form-section-form" role="form">
                        <fieldset>
                            <legend>@T[FrameworkWebLocalizableStrings.General.Edit]</legend>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("UserName", T[FrameworkWebLocalizableStrings.Membership.UserModel.UserName], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" id="UserName" name="UserName" class="form-control" value.bind="userModel.userName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Email", T[FrameworkWebLocalizableStrings.Membership.UserModel.Email], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input type="text" id="Email" name="Email" class="form-control" value.bind="userModel.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="IsLockedOut" name="IsLockedOut" checked.bind="userModel.isLockedOut" /> @T[FrameworkWebLocalizableStrings.Membership.UserModel.IsLockedOut]
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="userModel.cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="userModel.save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>

    <div id="user-roles-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.Membership.UpdateUserRoles])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="user-roles-form-section-form" role="form">
                        <fieldset>
                            <legend>@T[FrameworkWebLocalizableStrings.Membership.UpdateUserRoles]</legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.Label("UserRoles", T[FrameworkWebLocalizableStrings.Membership.UserModel.Roles], new { @class = "control-label" })
                                    @Html.Framework().RolesCheckBoxList(
                                        "UserRoles",
                                        null,
                                        new { @class = "checkbox" },
                                        new Dictionary<string, object>
                                        {
                                            { "checked.bind", "userModel.roles" }
                                        })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="userModel.editRoles_cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="userModel.editRoles_save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>

    <div id="change-password-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.Membership.ChangePassword])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="change-password-form-section-form" role="form">
                        <fieldset>
                            <legend>@T[FrameworkWebLocalizableStrings.Membership.ChangePassword]</legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">@T[FrameworkWebLocalizableStrings.Membership.ChangePasswordModel.UserName]</label>
                                    <input type="text" class="form-control" readonly="readonly" value.bind="changePasswordModel.userName" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Change_Password", T[FrameworkWebLocalizableStrings.Membership.ChangePasswordModel.Password], new { @class = "control-label" })
                                    <input type="password" id="Change_Password" name="Change_Password" class="form-control" value.bind="changePasswordModel.password" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Change_ConfirmPassword", T[FrameworkWebLocalizableStrings.Membership.ChangePasswordModel.ConfirmPassword], new { @class = "control-label" })
                                    <input type="password" id="Change_ConfirmPassword" name="Change_ConfirmPassword" class="form-control" value.bind="changePasswordModel.confirmPassword" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="changePasswordModel.cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="changePasswordModel.save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>

    <div id="roles-grid-section" class="row" style="display:none">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="roleModel.create()" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                @T[FrameworkWebLocalizableStrings.General.Create]
            </button>
            <button type="button" click.delegate="viewUsers()" class="btn btn-default">
                <i class="fa fa-user"></i>
                @T[FrameworkWebLocalizableStrings.Membership.Users]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <ak-grid id="roles-grid"
                     k-data-source.bind="roleModel.datasource"
                     k-widget.bind="roleModel.grid"
                     k-filterable.bind="true"
                     k-sortable.bind="{ allowUnsort: false }"
                     k-pageable.bind="{ refresh: true, pageSizes: false }"
                     k-scrollable.bind="false">
                <ak-col k-field="Name" k-title="@T[FrameworkWebLocalizableStrings.General.Name]"></ak-col>
                <ak-col k-field="Id" k-title="&nbsp;" k-filterable.bind="false" k-width.bind="150" k-attributes.bind="{ class: 'text-center' }">
                    <ak-template>
                        <div class="btn-group">
                            <button type="button" click.delegate="roleModel.editPermissions($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.Membership.Permissions]">
                                <i class="fa fa-check-square-o"></i>
                            </button>
                            <button type="button" click.delegate="roleModel.edit($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Edit]">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" click.delegate="roleModel.remove($this.Id)" class="btn btn-danger btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Delete]">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </ak-template>
                </ak-col>
            </ak-grid>
        </div>
    </div>

    <div id="roles-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="roles-form-section-form" role="form">
                        <fieldset>
                            <legend id="roles-form-section-legend"></legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.Label("Name", T[FrameworkWebLocalizableStrings.Membership.RoleModel.Name], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-users"></i>
                                        </span>
                                        <input type="text" id="Name" name="Name" class="form-control" value.bind="roleModel.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="roleModel.cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="roleModel.save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>

    <div id="role-permissions-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.Membership.EditRolePermissions])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="role-permissions-form-section-form" role="form">
                        <fieldset>
                            <legend>@T[FrameworkWebLocalizableStrings.Membership.EditRolePermissions]</legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @*@Html.Label("RolePermissions", "Permissions", new { @class = "control-label" })*@
                                    @Html.Framework().PermissionsCheckBoxList(
                                        "RolePermissions",
                                        null,
                                        new { @class = "checkbox" },
                                        new Dictionary<string, object>
                                        {
                                            { "checked.bind", "roleModel.permissions" }
                                        })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="roleModel.editPermissions_cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="roleModel.editPermissions_save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>
</template>