@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    <require from="aurelia-kendoui-bridge/grid/grid"></require>
    <require from="aurelia-kendoui-bridge/grid/col"></require>
    <require from="aurelia-kendoui-bridge/common/template"></require>

    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
                <ak-grid id="grid"
                         k-data-source.bind="datasource"
                         k-widget.bind="grid"
                         k-filterable.bind="true"
                         k-sortable.bind="{ allowUnsort: false }"
                         k-pageable.bind="{ refresh: true, pageSizes: false }"
                         k-scrollable.bind="false">
                    <ak-col k-field="Name" k-title="@T[FrameworkWebLocalizableStrings.General.Name]"></ak-col>
                    <ak-col k-field="Id" k-title="&nbsp;" k-filterable.bind="false" k-width.bind="50" k-attributes.bind="{ class: 'text-center' }">
                        <ak-template>
                            <div class="btn-group">
                                <button type="button" click.delegate="edit($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Edit]">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>
                        </ak-template>
                    </ak-col>
                </ak-grid>
            </div>
        </div>
    </div>

    <div id="form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    @*HTML injected here*@
                    <div id="settings-details"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn-default" click.delegate="cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                            <button type="button" class="btn btn-primary" click.delegate="save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                        </div>
                    </div>
                }
            }
        </article>
    </div>
</template>