@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    <require from="aurelia-kendoui-bridge/grid/grid"></require>
    <require from="aurelia-kendoui-bridge/grid/col"></require>
    <require from="aurelia-kendoui-bridge/common/template"></require>

    <require from="bootstrap-fileinput/css/fileinput.min.css"></require>

    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="create()" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                @T[FrameworkWebLocalizableStrings.General.Create]
            </button>
            <button type="button" click.delegate="clear()" class="btn btn-warning">
                <i class="fa fa-warning"></i>
                @T[FrameworkWebLocalizableStrings.General.Clear]
            </button>
            <button type="button" click.delegate="importLanguagePack()" class="btn btn-success">
                <i class="fa fa-upload"></i>
                @T[FrameworkWebLocalizableStrings.General.Import]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <ak-grid id="grid"
                     k-data-source.bind="datasource"
                     k-widget.bind="grid"
                     k-filterable.bind="true"
                     k-sortable.bind="{ allowUnsort: false }"
                     k-pageable.bind="{ refresh: true, pageSizes: false }"
                     k-scrollable.bind="false">
                <ak-col k-field="Name" k-title="@T[FrameworkWebLocalizableStrings.General.Name]"></ak-col>
                <ak-col k-field="CultureCode" k-title="@T[FrameworkWebLocalizableStrings.Localization.LanguageModel.CultureCode]" k-width.bind="70"></ak-col>
                <ak-col k-field="IsEnabled" k-title="@T[FrameworkWebLocalizableStrings.Localization.LanguageModel.IsEnabled]" k-width.bind="70" k-attributes.bind="{ class: 'text-center' }">
                    <ak-template>
                        <i class="fa ${ $this.IsEnabled ? 'fa-check text-success' : 'fa-times text-danger' }"></i>
                    </ak-template>
                </ak-col>
                <ak-col k-field="SortOrder" k-title="@T[FrameworkWebLocalizableStrings.Localization.LanguageModel.SortOrder]" k-width.bind="70"></ak-col>
                <ak-col k-field="Id" k-title="&nbsp;" k-filterable.bind="false" k-width.bind="150" k-attributes.bind="{ class: 'text-center' }">
                    <ak-template>
                        <div class="btn-group">
                            <button type="button" click.delegate="edit($this.Id)" class="btn btn-default btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Edit]">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" click.delegate="remove($this.Id)" class="btn btn-danger btn-sm" title="@T[FrameworkWebLocalizableStrings.General.Delete]">
                                <i class="fa fa-remove"></i>
                            </button>
                            <a route-href="route: framework-web/localization/localizable-strings; params.bind: { cultureCode: $this.CultureCode }" class="btn btn-primary btn-sm" title="@T[FrameworkWebLocalizableStrings.Localization.Localize]">
                                <i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </ak-template>
                </ak-col>
            </ak-grid>
        </div>
    </div>

    <div id="form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="form-section-form" role="form">
                        <fieldset>
                            <legend id="form-section-legend"></legend>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("CultureCode", T[FrameworkWebLocalizableStrings.Localization.LanguageModel.CultureCode], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </span>
                                        <input type="text" id="CultureCode" name="CultureCode" class="form-control" value.bind="cultureCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Name", T[FrameworkWebLocalizableStrings.Localization.LanguageModel.Name], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <input type="text" id="Name" name="Name" class="form-control" value.bind="name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("SortOrder", T[FrameworkWebLocalizableStrings.Localization.LanguageModel.SortOrder], new { @class = "control-label" })
                                    <input type="text" id="SortOrder" name="SortOrder" class="form-control" value.bind="sortOrder" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="IsRTL" name="IsRTL" checked.bind="isRTL" /> @T[FrameworkWebLocalizableStrings.Localization.LanguageModel.IsRTL]
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="IsEnabled" name="IsEnabled" checked.bind="isEnabled" /> @T[FrameworkWebLocalizableStrings.Localization.LanguageModel.IsEnabled]
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="save()"><i class="fa fa-save"></i> @T[FrameworkWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>

    <div id="upload-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[FrameworkWebLocalizableStrings.General.Import])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="upload-section-form" role="form" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                @Html.Label("Upload", T[FrameworkWebLocalizableStrings.General.Upload], new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.FileUpload("Upload")
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button type="button" class="btn btn-default" click.delegate="cancel()">@T[FrameworkWebLocalizableStrings.General.Cancel]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>
</template>